body{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
    
}

.sectionstyle{
    float: left;
    margin-left:5px;
    width: 48%;
}

.imglesly{
    width: 70%;
    height: auto;
}
